*{
	background: #f3f5fc;
	font-family: 'Inter';
	font-weight: 400;
	font-size: 32px;
	line-height: 150%;
}

.logo{
	padding-top: 10px;
	margin-left: 10px;
	width: 8%;
}

main{
	display: flex;
	margin-bottom: 50px;
	margin-left: 80px;
}

.text-area{
	border: none;
	color: #0a3871;
	margin-top: 90px;
	text-transform: lowercase;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

::placeholder {color: #0a3871;}
	.text-area:focus {
		outline: none;
	}


.mensaje{
	background: white;
	background-image: url("/imagenes/Muneco.png");
	background-repeat: no-repeat;
	background-position: 35px 170px;
	border: none;
	border-radius: 24px;
	color: #0a3871;
	margin-left: 98px;
	margin-top: 20px;
	padding-left: 20px;
	position: fixed;
	width: 370px;
	height: 750px;
}

.mensaje:focus{
	outline: none;
}

.botones{
	display: flex;
	margin-top: 18px;
}

.btn-desencriptar{
	background: #D8DFE8;
	border: 1px solid #0a3871;
	border-radius: 24px;
	color: #0a3871;
	cursor: pointer;
	height: 67px;
	margin-left: 30px;
	width: 328px;
}

.btn-encriptar{
	background: #0a3871;
	border: 1px solid #0a3871;
	border-radius: 24px;
	color: white;
	cursor: pointer;
	height: 67px;
	margin-left: 30px;
	width: 328px;
}

.copiar{
	border: 1px solid #0a3871;
	border-radius: 24px;
	color: #0a3871;
	cursor: pointer;
	height: 67px;
	margin-left: 125px;
	margin-top: 700px;
	position: absolute;
	width: 336px;
}

.informacion{
	color: #495057;
	font-size: 18px;
}

.desarrollador{
	color: #0a3871;
	font-size: 19px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}